.card {
  background: #fff;
  margin: 16px;
  padding: 16px;
  width: 200px;
  border-radius: 2px;
}

.product-image {
  overflow: hidden;
  border-radius: 2px 2px 0 0;
  max-height: 200px;
}

.product-image img {
  width: 100%;
  height: auto;
  min-height: 200px;
}

.product-details h4 {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.2s;
}

.product-details h4:hover {
  color: #fbb72c;
}

.product-details p {
  color: #3d3d3d;
  font-size: 14px;
  text-align: start;
}

.card button {
  background-color: white;
  color: black;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.add-btn {
  border: 2px solid #008cba;
}

.add-btn:hover {
  background-color: #008cba;
  color: white;
}

.remove-btn {
  border: 2px solid #f44336;
}

.remove-btn:hover {
  background-color: #f44336;
  color: white;
}
